@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Nunito", sans-serif;
  scrollbar-width: none;
}

:root {
  --background: #1c1c1c;
}

body {
  background-color: var(--background);
}

.hero {
  filter: drop-shadow(0px 0px 20px black);
}

.navigator {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 30px 0 30px rgba(0, 0, 0, 0.5);
}

@keyframes customZoomOut {
  0% {
    transform: scale(1.25);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.headline {
  transition: transform 0.5s ease;
  animation: customZoomOut 1s ease-out forwards;
}

/* Job */
.grid-container {
  transform: rotate(-15deg) translateY(-230px);
}

.hex {
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-color: #1c1c1c;
}
/* Zoom-out animation */
@keyframes zoomOut {
  0% {
    transform: scale(1.1);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Apply animation */
.custom-span {
  display: inline-block;
  transform: scale(1.1);
  opacity: 0;
  animation: zoomOut 0.5s forwards;
}

/* Delay property */
[data-delay] {
  animation-delay: calc(var(--i) * 100ms);
}

/* Blink */
.blink {
  animation: blink 2s ease-in-out 1s infinite;
}
@keyframes blink {
  0%,
  100% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
}

/* Responsive */

@media (min-width: 1537px) {
  html {
    font-size: 110% !important;
  }
}

@media (min-width: 1920px) {
  html {
    font-size: 200% !important;
  }
}


/* Mobile Socials Animation */
@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
